
body {
  background-color: #ffffff;
  font-size: 15px;
  font-size: 1rem;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
}

main {
    margin-left: auto;
    margin-right: auto;
    max-width: 1500PX; 
    padding-left: 15px; 
    padding-right: 15px; 
}


h1, h2 {
  font-weight: bold;
  color: #333; 
}

p {
  color: #666; 
  margin-bottom: 20px; 
}

.btn {
  display: inline-block; 
  margin-right: 0; 
}



#testimonials h2 {
    font-weight: bold;
    color: #333;
}

#testimonials p {
    color: #666;
    margin-bottom: 20px;
}

#testimonials .testimonial-text {
    color: #555;
    font-size: 16px;
}

#testimonials .testimonial-author {
    color: #777;
    font-size: 14px;
    margin-top: 10px;
}

#testimonials img {
    border-radius: 50%;
}



#services h2 {
    color: #333;
    font-weight: bold;
}

#services p {
    color: #666;
    margin-top: 0;
    margin-bottom: 20px;
}

#meal-planner {
    padding: 20px;
}

#meal-planner h2 {
    color: #333;
    font-weight: bold;
}

#meal-planner p {
    color: #666;
    margin-top: 10px;
    margin-bottom: 20px;
}

#meal-planner .btn {
    background-color: #007bff; 
    color: white;
}

#reversed-section {
    padding: 20px;
}

#reversed-section h2 {
    color: #333;
    font-weight: bold;
}

#reversed-section p {
    color: #666;
    margin-top: 10px;
    margin-bottom: 20px;
}

#reversed-section .btn {
    background-color: #007bff; 
    color: white;
}

footer {
    font-size: 14px;
    color: #666;
}

footer a {
    color: #007bff;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

footer .list-inline-item {
    margin-right: 10px;
}
.navbar {
    background-color: #538107; 
  }
  .navbar-brand {
    font-size: 24px; /* Cambia el tamaño del texto del título */
    font-family: 'Nunito', sans-serif; /* Cambia el tipo de letra del título */
    font-weight: bold; /* Hace que el título tenga un peso de fuente más grueso */
    color: #ffffff; /* Cambia el color del texto del título */
    
  }
  .navbar-nav .nav-link {
    color: #ac4b4b; /* Cambia el color del texto de los enlaces */
  }


  